---
const { project } = Astro.props;
---

    <article class="group space-y-5">

    {/* Image */}
    <div class="group relative overflow-hidden rounded-4xl border border-(--muted)/30">

    <img
        src={project.moodboard}
        alt={project.title}
        class="aspect-16/10 w-full object-cover transition-opacity duration-500 group-hover:opacity-0"
    />

    <img
        src={project.mockup}
        alt={project.title}
        class="absolute inset-0 aspect-16/10 w-full object-cover opacity-0 transition-opacity duration-500 group-hover:opacity-100"
    />

    </div>

    {/* Content */}
    <div class="space-y-4">

        <span class="inline-flex rounded-full border border-(--muted) px-3 py-1 text-sm">
        {project.category}
        </span>

        <h3 class="tracking-heading text-2xl font-semibold">
        {project.title}
        </h3>

        <p class="leading-relaxed">
        {project.description}
        </p>

        <div class="rounded-3xl border border-(--muted)/30 p-5">
        <p class="text-sm uppercase tracking-[0.18em] text-(--accent) font-black ">
            Cíl
        </p>

        <p class="mt-2 leading-relaxed">
            {project.goal}
        </p>
        </div>

        {/* Tags */}
        <div class="flex flex-wrap gap-2">
        {project.tags.map((tag: string) => (
            <span class="rounded-full border border-(--muted)/40 px-3 py-1 text-sm">
            {tag}
            </span>
        ))}
        </div>

        {/* CTA */}
        <div class="flex flex-wrap gap-3 pt-2">

        <a
            href="https://calendly.com/mikulenka-info/45min"
            target="_blank"
            class="tracking-cta inline-flex rounded-full bg-(--accent) px-5 py-3 text-(--background) transition hover:bg-(--accent-hover)"
        >
            Chci podobný směr
        </a>

        <span
        class="tracking-cta inline-flex cursor-not-allowed rounded-full border border-(--accent) px-5 py-3 opacity-60 hover:opacity-80"
        >
        Live – brzy
        </span>

        </div>

    </div>
</article>
